<router-outlet>
<!--  <app-catalogo></app-catalogo>-->
<!--  <app-gestion-pedido></app-gestion-pedido>-->
<!--  <app-analisis-meteorologico></app-analisis-meteorologico>-->
<!--  <app-banco></app-banco>-->
<!--  <app-gestion-zoo></app-gestion-zoo>-->
<!--  <app-supermercado></app-supermercado>-->
<!--  <app-clasificacion-palabras></app-clasificacion-palabras>-->
<!-- <app-gestion-vehiculo></app-gestion-vehiculo>-->
<!--  <app-gestion-empleado></app-gestion-empleado>-->
<!--  <app-gestion-figuras></app-gestion-figuras>-->
  <app-gestion-pago></app-gestion-pago>
</router-outlet>
